---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";

const features = [
  {
    title: "Feature 1",
    description:
      "Feature 1 desc",
    icon: "mdi:handshake",
  },
  {
    title: "Feature 2",
    description:
      "Feature 2 desc",
    icon: "mdi:feather",
  },
  {
    title: "Feature 3",
    description:
      "Feature 3 desc",
    icon: "mdi:directions-fork",
  },
  {
    title: "Feature 4",
    description:
      "Feature 4 desc",
    icon: "mdi:graph",
  },
  {
    title: "Feature 5",
    description:
      "Feature 5 desc",
    icon: "mdi:search-web",
  },
  {
    title: "Feature 6",
    description:
      "Feature 6 desc",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    Akera blah blah blah.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {features.map(({ title, description, icon }) => (
      <li class="flex flex-col items-center gap-4 p-6 border border-default bg-offset">
        <div class="w-16 h-16 p-3 border-2 border-current rounded-full">
          <Icon name={icon} />
        </div>
        <p class="text-xl font-extrabold text-center">{title}</p>
        <p class="text-sm text-center text-offset">{description}</p>
      </li>
    ))}
  </ul>
</ContentSection>
